{% extends "base.html" %}

{% block title %}Flash Card{% endblock %}

{% block content %}
    <h1>Flash Card</h1>
    Question is: {{card.question}} <br/>
    Answer: {{card.answer}}
    <p>
        <button>
            <a href="{{url_for('welcome')}}"> Home </a>
        </button>
        <button>
            {% if index < max_index %}
            <a href="{{url_for('card_view', index=index+1)}}"> Next Card </a>
            {% else %}
            <a href="{{url_for('card_view', index=0)}}"> Start Over </a>
            {% endif %}
        </button>
        <a href="{{url_for('remove_card', index=index)}}">Remove</a>
    </p>
{% endblock %}