<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!!</title>
</head>
<body>
    <h1>Welcome to the flashcards application!!</h1>
    <p>This is a page for Demo application
        <em>Getting started with flask</em>
        <a href="www.google.com">Google</a>
    </p>
    <h2>Flash Cards</h2>
    <ul>
        {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}">
                    {{ card.question }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>